.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 0 1rem 0;
}

.top h1 {
  font-size: 1rem;
  font-weight: 500;
}

.top h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

.range {
  width: 100%;
}

.range input {
  width: 100%;
}
